<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        .bg{
            background-image: url("images/ke-toan-tai-chinh.jpg");
            background-size:cover;
            background-position: center;
        }
</style>


</head>
<body class="antialiased bg bg-slate-200 bg">
    <div class="max-w-lg mx-auto mt-6 mb-2 bg-white px-8 pt-6 rounded-xl shadow shadow-slate-300">
        <h1 class="text-4xl font-medium">Đổi mật khẩu</h1>
        <p class="text-slate-500 my-2">Điền vào form bên dưới để đổi mật khẩu</p>
        <table action="" class="my-10">
            <div class="flex flex-col space-y-5">
                <label for="username">
                    <input id="username" type="text" class="w-full py-3 border border-slate-200 rounded-lg px-3 focus:outline-none focus:border-slate-500 hover:shadow" placeholder="Nhập tên tài khoản">
                </label>
                <label for="oldpassword">
                    <input id="oldpassword" type="password" class="w-full py-3 border border-slate-200 rounded-lg px-3 focus:outline-none focus:border-slate-500 hover:shadow" placeholder="Nhập mật khẩu cũ">
                </label>
                <label for="newpassword">
                    <input id="newpassword" type="password" class="w-full py-3 border border-slate-200 rounded-lg px-3 focus:outline-none focus:border-slate-500 hover:shadow" placeholder="Nhập mật khẩu mới">
                </label>
                <label for="confirm-password">
                    <input id="confirm-password" type="password" class="w-full py-3 border border-slate-200 rounded-lg px-3 focus:outline-none focus:border-slate-500 hover:shadow" placeholder="Nhập lại mật khẩu">
                </label>
                <button id="changePasswordBtn" onclick="changePassWord()" class="w-full py-3 font-medium text-white bg-indigo-600 hover:bg-indigo-500 rounded-lg border-indigo-500 hover:shadow inline-flex space-x-2 items-center justify-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 5.25a3 3 0 013 3m3 0a6 6 0 01-7.029 5.912c-.563-.097-1.159.026-1.563.43L10.5 17.25H8.25v2.25H6v2.25H2.25v-2.818c0-.597.237-1.17.659-1.591l6.499-6.499c.404-.404.527-1 .43-1.563A6 6 0 1121.75 8.25z" />
                      </svg>
                      <span>Xác nhận</span>
                </button>
                <p class="text-center">Chưa có tài khoản? <a href="#" class="text-indigo-600 font-medium inline-flex space-x-1 items-center"><span>Đăng ký </span><span><svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
                  </svg></span></a></p>
            </div>
        </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/account.js" type="text/javascript"></script>
    

</body>
</html>
